@use 'colors';
@use 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.8rem;
  font-family: 'Bai Jamjuree', sans-serif;
  color: colors.$Grayish-Blue;
}
// Hero Section
.hero{
  height: 100%;
  background-image: url('../assets/images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  
  @media screen and (min-width:700px) {
    background-image: url('../assets/images/bg-header-desktop.png');
    width: 100%;
    
  }

  .title{
    font-size: 3.3rem;
    color: colors.$Dark-Grayish-Blue;
  }
  .paragraph{
    margin-inline: 0.4rem;
    margin: 0 auto;
  }

  &__img{
    margin-top: 20rem;
  }
  
  &__buttons{
    margin-top: 5rem;
    width: 100%;
    @include mixin.flex($gap:2rem);

    @media screen and(min-width:800px) {
      @include mixin.flex($direccion:row,$gap:1.5rem)
    }
  }
}
// Keep Secction
.keep{
  margin-top: 15rem;
  text-align: center;
  width: 100%;
  
  .paragraph{
    padding-inline: 1.05rem;
  }
  
  &__container{
    position: relative;

    .img{
      width: 100%;
      margin-block: 4.5rem;
    }
    
    .articles{
      @include mixin.flex;
     
    }
    @media screen  and(min-width:800px){
      @include mixin.grid($gap:4rem,$justify:start);
      &.wrapper{
        margin-block: 8rem;
        
      }
      .img{
        width: 100%;
      }
    }
    @media screen and(min-width:1280px) {
      text-align: left;
      &.wrapper{
        margin-block-start: 12rem;
        margin-block-end: 18rem;
      }
      .articles{
        @include mixin.flex($gap:8rem,$align:flex-start);
        margin-top: 3rem;
        grid-column: 2 / -1;

        .paragraph{
          max-width:40rem;
          padding-inline: 0;
        }
      }

      .img{
        grid-column: 1/2;
        position: absolute;
        width: 90%;
        top: -80px;
        left: -45px;
      }
    }
  }
}
// Clipboard Section
.clipboard{
  text-align: center;
  margin-top: 4rem;
  &__img{
    width: 100%;
    margin-block: 4.5rem;
  }
}
// Workflow Section
.workflow{
  text-align: center;
  .items{
    @include mixin.flex($gap:6rem);
    margin-top: 8rem;
    .item{
      max-width: 40rem;
      height: 240px;
      @include mixin.flex($gap:4rem);
      margin-inline: 0;
      &__img{
        width: 15%;
      }
      .paragraph{
        padding: 0;
      }

      &:nth-child(2){
        img{
          margin-top: -2rem;
        }
        .paragraph{
          margin-top: -0.5rem;
        }
      }
      &:nth-child(3){
        img{
          margin-top: -0.8rem;
        }
      }

    }
    @media screen and (min-width:800px) {
      @include mixin.flex($direccion:row)
    }
  }
 
}
// Brands Section
.brands{
  margin-block: 10rem;
  text-align: center;
  height: 100%;
  @include mixin.flex($gap:7rem);
  img{
    width: 100%;
  }
  @media screen and (min-width:800px) {
    @include mixin.flex($direccion:row,$wrap:wrap,$gap:18rem);
    img{
      width: 10%;
    }
    
  }
 
}
// Options Section
.options{
  text-align: center;
  .paragraph{
    padding-inline: 0.5rem;
  }
}
// Footer 
.footer{
  @include mixin.flex();
  width: 100%;
  height: 100%;
  padding-block: 5rem;
  margin-block-start: 5rem;
  text-align: center;
  background-color: #eee;

  &__logo{
    width: 12%;
  }

  &__links{
    @include mixin.flex($gap:1.5rem);

    .link{
      list-style: none;
      color: colors.$Dark-Grayish-Blue;
      font-weight: 500;
      transition:  color 0.2s ease-in;
      cursor: pointer;
      &:hover{
        color: colors.$Strong-Cyan;
        text-decoration: underline
      }
    }
  }

  &__social{
    @include mixin.flex(row);

    i{
      font-size: 2.5rem;
      color: colors.$Dark-Grayish-Blue;
      cursor: pointer;
      transition:  color 0.2s ease-in;
      &:hover{
        color: colors.$Strong-Cyan;
      }
    }
  }

  @media screen and (min-width:800px) {
    margin-inline: 3rem;
    @include mixin.flex($direccion:row,$justify:space-evenly);
    text-align: left;

    &__links{
      @include mixin.flex($direccion:row,$wrap:wrap,$justify:flex-start);
      .link{
        width: 28%;
      }
    }
    &__logo{
      width: 4%;
    }
  }
}
